.page-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

main-content {
    display: block;
    text-align: center;
}

main-headline {
    margin: 60px;
    text-align: center;
    max-width: 30em;
}

main-headline h1 {
    max-width: 10em;
    margin: 2em auto 0.5em;
}

.green-text {
    color: #449D44;
}

learn-more {
    display: block;
    margin-top: 100px;
    text-align: center;
}

learn-more div {
    margin-bottom: 10px;
}

learn-more > .btn {
    border-radius: 50%;
}

our-services h4 {
    margin-top: 100px;
}

.our-services {
    width: 96%;
    display: flex;
    justify-content: center;
}

.service-card {
    display: flex;
    margin: 20px;
    /* width: 150px;
    height: 125px; */
    background-color: #F8F9FA;
    border: lightgray;
}

.service-card img {
    width: 10vmin;
    height: 7vmin;

}


@media (max-width: 519px) {

}