.page-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

main-content {
    display: block;
    text-align: center;
}

main-headline {
    margin: 60px;
    text-align: center;
    max-width: 30em;
}

main-headline h1 {
    max-width: 10em;
    margin: 2em auto 0.5em;
}

main-headline input:first-of-type {
    max-width: 250px;
    min-width: 100px;
}

.green-text {
    color: #449D44;
}

.domain-name-form {
    display: flex;
    flex-direction: column;
}

.form-control {
    display: inline-block;
}

learn-more {
    display: block;
    margin-top: 100px;
    text-align: center;
}

learn-more div {
    margin-bottom: 10px;
}

learn-more > .btn {
    border-radius: 50%;
}

our-services h4 {
    margin-top: 100px;
}

.our-services {
    width: 96%;
    display: flex;
    justify-content: center;
}

.service-card {
    display: flex;
    margin: 20px;
    /* width: 150px;
    height: 125px; */
    background-color: #F8F9FA;
    border: lightgray;
}

.service-card img {
    width: 10vmin;
    height: 7vmin;

}


@media (max-width: 430px) {
    main-headline h1 {
        font-size: 2em;
        padding: 0 15px;
        max-width: 10em;
        margin: 2em auto 0.5em;
    }

    .domain-name-form {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
    }

    main-headline input:first-of-type {
        max-width: 250px;
        min-width: 100px;
        margin-bottom: 10px;
    }
}